* {
    margin: 0px auto;
}

div.big{
    height:902px;
    background-color:#f6f6f6;
}
div.container {
    width: 1000px;
}
div.top{
    height:50px;
    width:1000px;
}
div.head{
    width:1000px;
    font-weight:bolder;
}
div.search{
    float :right;
    width: 500px;
    height: 165px;
}
tr.tr-search{
    height:40px;
}
input.txt{
    width:200px;
    height:20px;
}
input.baidu{
    width:330px;
    height:35px;
    font-size:20px;
}
input.btnbaidu{
    height:35px;    
}
input.btn{
    width:100px;
}
div.fast{
    height:165px;
    width:500px;
    background-color:#f5f5f5;
    float:left;
}
tr.fast{
    height:50px;
    width:70px;
}
td.fast{
    height:50px;
    width:140px;
}
.study {
    width: 1000px;
    height: 150px;
}

div.program {
    height:110px;
    width: 500px;
    float: left;
}

div.interest {
    height:110px;
    width: 500px;
    float: left;
}

li {
    list-style: none;
    list-style-type: none;
    line-height: 50px;
    width: 150px;
    float: left;
}
h3{
    color:#609c17;
}
a:link { text-decoration: none;color:#252526} 
a:visited{text-decoration: none;color:#252526}
a:hover{text-decoration:underline;color:blue }
